.educonnect {
    background-color: #7c4dff; /* Assuming you want the purple background */
    color: white; /* White text */
    height: 100vh;
    width: 100vw; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text alignment */
  }
  
  .skill-tag {
    display: inline-flex;
    align-items: center;
    background-color: #9a67ea;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
  }
  
  .remove-skill-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 8px;
  }
  
  /* You might want to add some additional styling to make it look nicer */
  .remove-skill-button:hover {
    color: #ff0000; /* Change color on hover for visual feedback */
  }
  .custom-skill-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* background-color: black; */
  }
  
  .custom-skill-input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #9a67ea;
    background: transparent;
    color: white;
    background-color: black;
    width: 300px; /* You can adjust the width as necessary */
  }
  
  .add-skill-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #9a67ea;
    color: white;
    cursor: pointer;
  }
  
  /* Remove default textarea resize handle */
  .custom-skill-input::-webkit-resizer {
    display: none;
  }
  
  .custom-skill-input:focus, .add-skill-button:hover {
    background-color: #673ab7; /* Darker purple for focus/hover */
  }
  
  /* Optional: Remove the textarea's default focus outline */
  .custom-skill-input:focus {
    outline: none;
  }

  .back-button{
    margin-top: 2rem;
  }
  